extends ./_bootstrap
append styles
	// Bootstrap theme
	+bootswatch("cerulean")
	// Custom styles for this template
	link(href='./css/theme.css', rel='stylesheet')
	block body
	// Topo
	nav.navbar.navbar-default.navbar-fixed-top
		.container
			.navbar-header
				button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href='#') MongoDB
			#navbar.navbar-collapse.collapse
				ul.nav.navbar-nav
					li.active
						a(href='#') Inicio

		
	.container.theme-showcase(role='main')
		// Main jumbotron for a primary marketing message or call to action
		.jumbotron
			h1 Servidor Rest-Full JavaScript e HTML5 utilizando MongoDB pela API mongoose.
			p
				| Esse templete do Bootstrap e uma demostração da utilização do banco de dados Orientado a documentos, MongoDB.
		
		.page-header
			h1 Resumo 
		.well
			p
				| O MongoDB utiliza funções de javascript para que o desenvolvedor interagir com o banco de dados, essa API desenvolvida cria uma autenticação por token.  
		
		.page-header
			h1 Requisitos
		.row
			.col-sm-4
				+panel-default("NodeJs")
					a(href='https://nodejs.org/en/') Documentação
				+panel-primary("Pug HTML 5")
					a(href='https://www.npmjs.com/package/pug-bootstrap') Documentação
			.col-sm-4
				+panel-success("Mongoose")
					a(href='http://mongoosejs.com/') Documentação
				+panel-info("ExpressJs")
					a(href='http://expressjs.com/pt-br/') Documentação
			.col-sm-4
				+panel-warning("JavaScript")
					a(href='https://www.javascript.com/') Documentação
				+panel-danger("Bootstrap")
					a(href='http://getbootstrap.com/') Documentação
	
		.page-header
			h1 Usuários Cadastrados
		each thing in data
			p= thing.email
		
		.row
			.col-md-12
				//- +table-striped(["#","First Name","Last Name","Username"],[["1","Mark","Otto","@mdo"],["2","Jacob","Thornton","@fat"],["3","Larry","the Bird","@twitter"]])
				
		.page-header
			h1 MongoDB Performace
		
		h2 Facilidade
		+progress-bar-success(95)
		h2 Escalabilidade 
		+progress-bar-success(70)
		h2 BASE "Arquitetura"
		+progress-bar-success(80)
		
		.page-header
			h1 Código Fonte 
		.well
			p
				| O MongoDB utiliza funções de javascript para que o desenvolvedor interagir com o banco de dados, essa API desenvolvida cria uma autenticação por token. a	a(href='https://github.com/rafaelgov95/BancoDeDadosII/tree/master/Atividade-Final/MongoDB/Login') 
	
		